@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%; /* Light Gray */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 275 100% 25.1%; /* Deep Indigo */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 277 76% 52%; /* Violet */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 275 100% 25.1%;
    --chart-1: 275 76% 52%;
    --chart-2: 277 70% 65%;
    --chart-3: 260 80% 75%;
    --chart-4: 285 65% 60%;
    --chart-5: 290 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 94.1%;
    --sidebar-primary: 277 76% 52%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 12%;
    --sidebar-ring: 277 76% 52%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 80% 80%;
    --primary-foreground: 275 100% 15%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 277 80% 70%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 277 80% 70%;
    --chart-1: 275 76% 52%;
    --chart-2: 277 70% 65%;
    --chart-3: 260 80% 75%;
    --chart-4: 285 65% 60%;
    --chart-5: 290 75% 55%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 94.1%;
    --sidebar-primary: 277 76% 52%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 12%;
    --sidebar-ring: 277 76% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
